# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform variable files
*.tfvars
terraform.tfvars
.terraform.lock.hcl

# Terraform directory
.terraform/

# Log files
*.log

# Terraform plan files
*.tfplan

# Local environment settings
.env
